### Exercises using Pandas

##### Revisit the example given in the tutorial and use a better solution than '99' for the NaNs.  Decide, in principle, how you think that null values should be treated, eg drop the row all together, use the mean of all other values, assume the same as male....... etc. 
#####  Pick on two methods - one which is the easiest from a pandas perspective and one which, in your view, would give the most appropriate result.  Work through both methods and see how different the answers are

In [ ]:
# Your code here: